html, body {
    height: 100%;
    min-height: 100%;
}

label {
    margin-bottom: 0;
}

body.drawing {
    cursor: crosshair;
}

input[type=text], input[type=number], select {
    text-align: right;
    border: 1px solid #cdcdcd;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    border: 1px solid #EFEFEF;
}

.unit-input {
    position: relative;
    display: flex;
}

.unit-input input {
    padding-right: 36px !important;
    width: 100%;
    box-shadow: inset -30px 0 0 0 rgba(237,237,237,0.56);
}

.unit-input input[disabled] {
    padding-right: 36px !important;
    width: 100%;
    box-shadow: inset -30px 0 0 0 rgba(204, 204, 204, 0.56);
    background-color: rgb(238, 238, 238);
}


.unit-input .unit {
    position: absolute;
    right: 6px;
    z-index: 9;
}

.icon-box.disabled {
    cursor: no-drop;
    background-color: #c3c3c3;
    color: #616161 !important;
}

.empty-hint {
    opacity: 0.6;
}

.sim-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 300px 3fr 300px;
    grid-template-rows: 55px 1fr 1fr 110px;
}

.sim-container > div {
    border: 1px solid #EFEFEF;
    display: flex;
}

.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none;
}

h5 {
    color: black;
    text-align: left;
}

.collapsible-left {
    grid-column: 1 / 2;
    grid-row: 2 / 4;

    display: flex;
    flex-direction: column;
}

.collapsible-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

.card {
    height: 100%;
    display: contents;
}

.card .btn {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

.collapse.show {
    flex: 1;
}

/*region Default Values*/
.default-values {
    padding-left: 10px;
}

.default-values b {
    font-weight: bold;
    font-size: 0.9em;
}

.default-values .unit-input {
    margin-bottom: 5px;
}
/*endregion*/

/*region Header*/
.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.header .fas {
    padding-right: 17px;
}

.header h3 {
    padding-left: 10px;
}
/*endregion*/

/*region Workspace*/
.workspace {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 100% !important;
}

.workspace .canvas-container {
    width: 100% !important;
}
/*endregion*/

/*region Element Palette*/
.element-palette {
    flex-direction: column;
    padding: 10px;
}
/*endregion*/

/*region Fluid Properties */
.fluid-properties {
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.fluid-properties .table-wrapper {
    width: 100%;
    display: inline-block;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 4px;
    padding-right: 1px;
}

.fluid-properties thead th {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-top: white;
    border-bottom: 2px solid #d7dadc;
    padding: 6px 4px;
}

.fluid-properties thead th:first-of-type {
    width: 30px;
}

.fluid-properties tbody td {
    padding: 4px 4px;
    cursor: pointer;
    border: none;
}

.fluid-properties tbody tr.active {
    background-color: #71e690;
}

.fluid-properties .property-list {
    padding-top: 5px;
}

.fluid-properties .fluid-property-line {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.fluid-properties .fluid-property-line label {
    font-size: 0.75em;
}

.fluid-properties .fluid-property-line input {
    width: 100%;
    text-align: right;
}

.fluid-properties .fluid-property-line .unit-input input {
    padding-right: 50px !important;
    box-shadow: inset -46px 0 0 0 rgba(237,237,237,0.56);
}

.fluid-properties .fluid-property-line .unit {
    top: 5px;
}

#newFluidModal form,
#copyFluidModal form {
    display: flex;
    flex-direction: column;
}

#newFluidModal form button,
#copyFluidModal form button {
    background: #d03f3f;
    border: none;
    padding: 7px;
}

#copyFluidModal form input {
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 5px 10px;
}

#newFluidModal form input {
    margin-bottom: 10px;
    padding: 5px 10px;
}

#newFluidForm .unit-input input {
    padding-right: 60px !important;
    box-shadow: inset -54px 0 0 0 rgba(237,237,237,0.56);
}

#newFluidForm .unit-input .unit {
    top: 7px !important;
}

/*endregion*/



/*region Droplet properties*/
.phase-property-line {
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.phase-properties .phase-property-line {
    margin-bottom: 8px;
    display: flex;
}

.phase-properties .phase-property-line label {
    font-size: 0.75em;
}

.phase-properties .phase-property-line .unit-input {
    width: 100%;
}

.phase-properties .phase-property-line input, .phase-properties .phase-property-line select {
    width: 100%;
    text-align: right;
    padding-right: 7px;
    height: 30px;
}
/*endregion*/

/*region Droplet properties*/
.droplet-properties {
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.droplet-properties .table-wrapper {
    width: 100%;
    display: inline-block;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 4px;
    padding-right: 1px;
    margin-bottom: 10px;
}

.droplet-properties thead th {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-top: white;
    border-bottom: 2px solid #d7dadc;
    padding: 6px 4px;
}

.droplet-properties tbody td {
    padding: 4px 4px;
    cursor: pointer;
    border: none;
}

.droplet-properties tbody tr.active {
    background-color: #71e690;
}

.droplet-properties .droplet-property-line {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.droplet-properties .droplet-property-line label {
    font-size: 0.75em;
}

.droplet-properties .droplet-property-line select {
    width: 100%;
    padding-right: 7px;
    height: 30px;
}

.droplet-properties .droplet-property-line input {
    width: 100%;
    text-align: right;
    padding-right: 7px;
}

#newDropletForm, #copyDropletModalForm{
    display: flex;
    flex-direction: column;
}

#newDropletForm button,
#copyDropletModalForm button {
    background: #d03f3f;
    border: none;
    padding: 7px;
}

#copyDropletModalForm input {
    margin-top: 3px;
    margin-bottom: 30px;
    padding: 5px 10px;
}

#newDropletForm input, #newDropletForm select {
    margin-bottom: 10px;
    padding: 5px 10px;
}

/*endregion*/

/*region Droplet Injections */
.injection-properties {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.injection-properties .property-list {
    padding-top: 5px;
}

.injection-properties .table-wrapper {
    display: inline-block;
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 4px;
    padding-right: 1px;
}

.injection-properties thead th {
    font-size: 14px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-top: white;
    border-bottom: 2px solid #d7dadc;
    padding: 6px 4px;
}

.injection-properties thead th:first-of-type {
    width: 30px;
}

.injection-properties tbody td {
    padding: 4px 4px;
    cursor: pointer;
    border: none;
}

.injection-properties tbody tr.active {
    background-color: #71e690;
}

.injection-properties .injection-property-line {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.injection-properties .injection-property-line label {
    font-size: 0.75em;
}

.injection-properties .injection-property-line select {
    width: 100%;
    padding-right: 7px;
    height: 30px;
}

.injection-properties .injection-property-line input {
    width: 100%;
    text-align: right;
    padding-right: 7px;
}

#newDropletInjectionModal form {
    display: flex;
    flex-direction: column;
}

#newDropletInjectionModal form button {
    background: #d03f3f;
    border: none;
    padding: 7px;
}

#newDropletInjectionModal form input, #newDropletInjectionModal form select {
    margin-top: 3px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
/*endregion*/

/*region Selected element properties*/
.element-properties {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    flex-direction: column;
    padding: 10px;
}

.element-properties .element-property-line {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.element-properties .element-property-line label {
    font-size: 0.75em;
}

.element-properties .element-property-line input {
    width: 100%;
    text-align: right;
    padding-right: 7px;
}
/*endregion*/

/*region Footer*/
.footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.footer .icon-box:first-child {
    margin-right: 30px;
}

.footer .fa-caret-left, .fa-caret-right{
    font-size: 25px
}

.footer .playback-progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}


.footer .playback-progress label {
    margin-right: 20px;
    white-space: nowrap;
}

.footer .playback-progress .slider {
    width: 100%;
}

.footer .sim-controls {
    display: flex;
    flex-direction: row;
}

.footer .start-simulate {
    padding: 2px 6px;
    margin: 6px 16px 2px 0;
}
/*endregion*/


